@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

.btn{
  @include button;
  &--primary {
    background:$accent;
    @include shadow($accent-dark);
    @include border($color:$accent-dark);
      &:hover {
      background:$accent-dark;
      @include border($color:$accent-dark);
      border-radius:0.375rem;
      @include shadow($accent);
      color: $text-light;
    }
    // on focus
    &:focus:not(:focus-visible):not(.focus-visible) {
      @include border($color:$accent-dark);
      border-radius:0.375rem;
      @include shadow($accent);
      outline: none;
      background:$accent-dark;
      color: $text-light;
    }
    &:focus {
      @include border($color:$accent-dark);
      border-radius:0.375rem;
      @include shadow($accent);
      outline: none;
      background:$accent-dark;
      color: $text-light;
    }
    &:disabled{
      background:$secondary;
      color: $text-light;
      cursor: default;
    }
    &:active {
      @include border($color:$accent-dark);
      border-radius:0.375rem;
      @include shadow($accent);
      outline: none;
      background:$accent-dark;
      color: $text-light;
    }
  }
  &--secondary {
    @include button; 
    background:$secondary;
    @include border($color:$text-medium);
    @include shadow($text-medium);
          &:hover {
      background:$accent-dark;
      @include border($color:$accent);
      border-radius:0.375rem;
      @include shadow($accent);
      color: $text-light;
    }
    // on focus
    &:focus:not(:focus-visible):not(.focus-visible) {
      @include border($color:$accent);
      border-radius:0.375rem;
      @include shadow($accent);
      outline: none;
      background:$accent-dark;
      color: $text-light;
    }
    &:focus {
      @include border($color:$accent);
      border-radius:0.375rem;
      @include shadow($accent);
      outline: none;
      background:$accent-dark;
      color: $text-light;
    }
    &:disabled{
      background:$secondary;
      color: $text-light;
      cursor: default;
    }
    &:active {
      @include border($color:$accent);
      border-radius:0.375rem;
      @include shadow($accent);
      outline: none;
      background:$accent-dark;
      color: $text-light;
    }
  }
}
