@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.portfoliolinks {
  &__title {
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    gap: 1rem;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    padding: 1rem;
    @include border($color:$primary);
    border-radius: $radius-lg;
    transition: 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      border-color: $primary;
    }
  }
}